/* API Notebook plugin styles */

.api-notebook-actions {
	margin: 0.5em 0;
}

.api-notebook-run-button {
	margin-right: 0.5em;
}

.api-notebook-output pre.api-notebook-response,
.api-notebook-output pre.api-notebook-error {
	max-height: 20em;
	overflow: auto;
	white-space: pre-wrap;
}

.api-notebook-output pre.api-notebook-error {
	color: var(--text-error);
}
